:root {
    --primary-color: purple;
    --text-color: white;
}

html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#welcome-text {
    font-family: 'Playfair Display', serif;
    font-size: xx-large;
    display: flex;
    gap: 10px;
    position: relative;
    justify-content: center;
    align-items: center;
}

#main-content {
    display: none;
    position: relative;
    font-family: 'Montserrat Bold', sans-serif;
    font-size: large;
}

.fade-text {
    position: relative;
    top: 50px;
    opacity: 0;
}

#graph-container {
    height: 80vh;
    width: 90vw;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
}

.search-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

#search-bar {
    width: 100%;
    max-width: 300px;
    height: 40px;
    border-radius: 5px;
    padding: 0 10px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: 'Montserrat Bold', sans-serif;
}

#search-results {
    display: none;
    position: absolute;
    width: 100%;
    max-width: 300px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
    margin-top: 50px;
    padding: 10px;
}

.artist-result {
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: white;
    transition: background-color 0.3s ease;
    width: 100%;
    text-align: left;
}

.artist-result:hover {
    background-color: #f0f0f0;
}

#clear-search {
    background-color: var(--primary-color);
    color: var(--text-color);
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 40px;
}

#clear-search:hover {
    background-color: white;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.search-bar-container {
    display: flex;
    justify-content: left;
    align-items: start;
    gap: 10px;
}